#calculadora {
    border: 2px blue solid;
    padding: 20px;
    background-color: #F6F8D8;
    width: 250px;
}

#pantalla{
    border: 2px black solid;
    height: 20px;
    width: 240px;
}

.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item1 {
    margin-top: 10px;
    text-align: center;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.grid-item2 {
    margin-top: 10px;
    text-align: center;
}

button{
    padding: 5px;
    height: 35px;
    width: 35px;
    margin: 5px;
}

.color-red{
    color: red;
}